header {
  width: 100%;
}

.sub_header {
  display: fixed;
  background: rgb(0 123 255 / 25%);
  height: 60px;
  text-align: center;
  padding: 20px;
  margin-top: -40px;
  width: 100%;
  gap: 20px;
}

a {
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .sub_header {
    display: none;
  }
}

.mb-3,
.my-3 {
  margin-bottom: none;
  margin-top: none;
}

.navbar {
  top: -20px;
  display: fixed;
}
