{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block header %}
<div class = "sub_header">
    <a href = "#sma">単純移動平均線</a>
    <a href = "#bband">ボリンジャーバンド</a>
    <a href = "#macd">MACD</a>
    <a href = "#rsi">RSI</a>
    <a href = "#fib">フィボナッチリトレースメント</a>
    <a href = "#stochastic">ストキャティクス</a>
    <a href = "#past_data">過去のデータ</a>
</div>
{% endblock header %}
{% block content %}
{% if login_ok %}
<h1>{{name}}さん、ようこそ</h1>
{% else %}
個人投資家の９０％は負けていると言われていますが、なぜ負けるんでしょうか。なぜファンドは勝てるんでしょうか。
その原因を考えたくてこのプログラムをつくりました。インジケーターで投資をした場合の期待値がどうなっていくのか。
それを過去のデータから考えて行きたいです。
{% endif %}
<h2>・<a id="sma" href = "https://www.jibunbank.co.jp/products/foreign_deposit/chart/help/sma/">単純移動平均線</a></h2></br>
ここでは、ゴールデンクロスが起きたら買って、デットクロスが起きた時に売ることとします。
<form action="/mytrade/sma">
{% bootstrap_form SmaForm layout='horizontal' %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<h2>・<a id="bband" href = "https://info.monex.co.jp/technical-analysis/indicators/003.html">ボリンジャーバンド</a><br/></h2>
順張りは、ボラティリティ・ブレイクアウトがおきたら買い、売りとします。
<h3>・逆張り</h3>
<form action="/mytrade/breverse">
{% bootstrap_form BreForm layout='horizontal' %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<h3>・順張り</h3>
<form action="/mytrade/bbreak">
{% bootstrap_form BreForm layout='horizontal' %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<h2>・<a id="macd" href = "https://moneyworld.jp/news/05_00053723_news">MACD</a></h2></br>
ゴールデンクロスで買い、デットクロスで売ります。
<form action = "/mytrade/macd">
{% bootstrap_form SmaForm layout='horizontal' %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<h2>・<a id = "rsi" href = "https://kabu.com/investment/guide/technical/08.html">RSI</a></h2></br>
70以上で売り、30以下で買いとします。
<form action = "/mytrade/rsi">
{% bootstrap_form BreForm layout='horizontal' %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<h2>・<a id="fib" href = "https://www.fxtrade-lab.com/10559">フィボナッチリトレースメント</a></h2>
<form action ="/mytrade/fib">
{% bootstrap_form BreForm layout="horizontal" %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class='btn btn-outline-primary'>Simulation</button>
</form>
<h2>・<a id ="stochastic" href = "https://www.moneypartners.co.jp/support/tech/sct.html">ストキャスティクス</a></h2>
<form action = "/mytrade/st">
{% bootstrap_form BreForm layout="horizontal" %}
<input type='hidden' name="login_ok" value="{{login_ok}}">
<input type='hidden' name="name" value="{{name}}">
<button type="submit" class = 'btn btn-outline-primary'>Simulation</button>
</form>

↓対象の過去データ
<table id="past_data" border="2">
<tr>
<th>日時</th>
<th>始値</th>
<th>高値</th>
<th>安値</th>
<th>終値</th>
<th>出来高</th>
</tr>
{% for i in value %}
<tr>
    <td>{{i.date}}</td>
    <td>{{i.start}}</td>
    <td>{{i.high}}</td>
    <td>{{i.low}}</td>
    <td>{{i.end}}</td>
    <td>{{i.volume}}</td>
</tr>

{% endfor %}

</table>

{% endblock content %}