{% extends 'base.html' %} {% load bootstrap4 %} {% block header %}
　　　　　　　 {% endblock header %} {% block content %}
<h1>{{name}}さん、ようこそ</h1>
<h2>最高レコード</h2>
{{best}}
<table>
  <h2>履歴</h2>
  {%for i in records %}
  <tr>
    <td>{{i.indicator}}</td>
    <td>{{i.first_money}}</td>
    <td>{{i.from_date}}</td>
    <td>{{i.result}}</td>
  </tr>
  {% endfor %}
</table>
<form action="/mytrade/">
  <input type="hidden" name="login_ok" value="True" />
  <input type="hidden" name="name" value="{{name}}" />
  <button type="submit" class="btn btn-outline-primary">
    シミュレーションへ
  </button>
</form>
{% endblock content %}
